/* This file contains styles for the HTML poem representation. */

.poemsubtitle, .poemauthor, h2 {
  margin-left: 7rem;
}

.poemsubtitle { margin-bottom: 1em }

.poemauthor { font-style: italic }

.poemdate { margin-top: 4em }

.verseindent { margin-right: 2em }

.versephantom {
  color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#html-output {
  font-family: 'Computer Modern Serif', serif;
  font-size: 11pt;
  padding: 0px 20px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 26px 0px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

header > span {
  display: block;
  margin-left: 2em;
}
