.resizable-w {
  border-color: #ddd;
}

button {
  border: none;
  padding: 5px;
}

button, input[type=submit] {
  cursor: pointer;
}

.tab {
  background-color: transparent;
  border: 5px solid transparent;
  border-left: none;
  border-right: none;
}

.tab.toggled {
  border-bottom: 5px solid #78CAD2;
}

.tab:hover {
  border-bottom-color: #65acb3;
}

#control-buttons, #output-tabs, #html-output-tabs {
  display: flex;
}

#output-tabs *, #html-output-tabs * {
  width: 50%;
}

textarea {
  font-family: 'Monaco', 'Monego', 'Source Code Pro', monospace;
  font-size: 10pt;
}

#open-in-overleaf {
  color: white;
  background-color: #138a07;
  line-height: 1.3em;
  font-weight: bold;
  padding: 5px;
  border: none;
  border-radius: 9999px;
}

#open-in-overleaf:hover {
  background-color: #0e6305;
}
